<h1>Welcome to my Travel Site</h1>
<p>This is my awesome travel site</p>

My homeland is <%= @homeland %>


<ul>
<% @countries.each do |country| %>
	<li><%= country %></li>
<% end %>
</ul>

<% @travel_pics.each do |pic| %>
	<%= image_tag pic, class: "img-responsive" %> 
	<br>
<% end %>



